/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.logo {
    display: block;
    width: 100%;
    height: 100%;
}

.brand-logo {
    width: 210px;
    height: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

    .brand-logo:hover {
        opacity: 0.8;
    }

    .brand-logo.w--current {
        width: 210px;
        height: 40px;
    }


.footer {
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

[class*="span"] { background: #EEF; }

[class*="span"] [class*="span"] { background: #FEE; }
