<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item" style="margin-top: 9px">
            <span class="navbar-text text-dark" style="margin-right: 50px">Hello @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
                <a class="btn btn-primary" role="button" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-primary" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>